Flask
Flask-Cors
langchain
transformers
sentence-transformers
transformers_stream_generator
huggingface_hub
faiss-cpu
pyngrok
supabase
PyGithub
python-dotenv
pypdf
docx2txt
unstructured
langchain-community
llama-cpp-python
werkzeug
