Flask
Flask-Cors
python-dotenv
PyGithub
PyPDF2
faiss-cpu
langchain
llama-cpp-python
pyngrok
supabase
transformers
sentence-transformers
transformers_stream_generator
huggingface_hub
unstructured
langchain-community
Werkzeug
# Pillow
# python-multipart
# beautifulsoup4 
# requests 
# chromadb 
# tiktoken 
# fastapi 
# uvicorn 
protobuf<4.24 
google-colab
google-api-python-client
oauth2client
