certifi
charset-normalizer
click
colorama
exceptiongroup
fastapi
faiss-cpu
Flask
Flask-Cors
google-api-core
google-auth
greenlet
huggingface-hub
importlib-metadata
Jinja2
langchain
langchain-community
langdetect
llama-cpp-python
lxml
Markdown
MarkupSafe
nltk
numpy
oauth2client

packaging
Pillow
protobuf
psycopg2
psycopg2-binary
PyGithub
pypdf
python-dateutil
python-dotenv
PyYAML
requests
rsa
sentence-transformers
six
sniffio
SQLAlchemy
starlette
supabase
tiktoken
tokenizers
tornado
transformers
transformers-stream-generator
typing-extensions
tzdata
unstructured
uvicorn
Werkzeug
zipp

firebase-admin
slowapi
itsdangerous
httpx
aiofiles
